<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <form id="urlForm" role="form" method="POST" action="{% url 'api:document-list' %}">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i id="urlFormIcon" class="fa fa-globe"></i>
          <i id="urlFormSpinner" class="fa fa-spin fa-spinner hidden"></i>
        </span>
        <input type="url" class="form-control" id="long_url" name="long_url" placeholder="Enter URL of webpage to classify ...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" id="submitUrlBtn">Go!</button>
        </span>
      </div>
      <span class="help-block"></span>
    </div>
    {% csrf_token %}
  </form>
</div>
